* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    /* font-family: "Sofia", sans-serif; */
}

header{
    display: block;
    margin-bottom: 1px;
}

nav{
    display: block;
    width: 20%;
    float: left
}

.container{
    width: 100%;
    display: flex;
    flex-direction: row;
}
section{
    display: block;

}
.l-side {
    width: 30%;
    padding: 10px;
}
.r-side {
    width: 70%;
    /* background-color: #f0c; */
    padding: 10px;
}

.l-side-acab{
    width: 40%;
    padding: 10px;
}

.r-side-acab {
    width: 60%;
    /* background-color: #f0c; */
    padding: 10px;
}



body {
    color: #ffee44;
    background-color: #2277dd;
    font-size: 16px;
    font-family: "stoke", "Lucida Bright", "liberation", sans-serif;
    padding: 10px;
}

a {
    color: #ffee55;
}
:visited {
    color: #ffee33;
}

.imgLogo {
    border-style: none none solid none;
    border-color: #ffffff;
    border-width: 0 0 3px 0;
    margin-bottom: 6px;
    padding-bottom: 10px;
}

ul {
    /* display:flex;
    flex-direction: column;
    gap: 200%; */
    line-height: 200%;
}

.ender {
    align-items: end;
    display: flex;
    flex-direction: column;
    float: right;
    line-height: 140%;
    font-size: 14px;
    font-family: "karla", "Verdana", "Ubuntu";
}

.row-logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.row-nav{
    padding: 30px;
}

.nav-links{
    list-style-type: square;
}

.apres {
    display: flex;
    align-items: center;
    font-size: 16px;
    flex-direction: column;
    text-align: center;
}

.title-section {
    margin: 20px;
}
.row-materials {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.listMat{
    color: #202020;
    min-width: 340px;
    background-color: #eeeebb;
    padding: 10px 10px 10px 30px;
    margin-top: 0;
    margin-bottom: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: #202020;


}
.listMat>ul{
    list-style-type: square;
}

ol{
    color: #202020;
    list-style-type: lower-alpha;
    padding-left: 30px;
    
}

.preco{
    color:  #cc0000;
}

.tabAcad{
    border: 0 0 6px 0 solid #000;
    border-collapse: collapse;
    color: #000;
    font-family: 'Karla', 'Verdana', 'Ubuntu', sans-serif;
    background-color: #ffc;
    font-size: 16px;
}

.tabAcad th{   
    border: 2px solid #000;
    padding: 6px 12px 6px 12px;
}


.tabAcad td{
    border: 2px solid #000;
    padding: 6px 12px 6px 12px;
}

.linTH{
    color: #EE0;
    background-color: #666;
    vertical-align: middle;
    
    /* TODO: alinhar texto ao centro */
    /* TODO: alihar texto no meio */
}


.price{
    color: red;

}
.colTH{
    color: #000;
    background-color: #aaa;
    text-align: center;

}

.imgAcab{
    width: 60px;
    height: 44px;
}

.linTD{
    width: auto;
}

table,* {
    width: auto;
    text-wrap: nowrap;
}

.colTitle{
    text-align: center;
}